{% extends "base.html" %}
{% block title %}Status page{% endblock %}
{% block content %}
    <div id="status_field"></div>
{% endblock %}
{% block footer %}
<script>
    (() => {
        let ws = new WebSocket({{ ws_url }});
        let status_field = document.getElementById("status_field");
        ws.onopen = function() {
            ws.send("Hello, world");
        }
        ws.onmessage = function (evt) {
            let received_msg = evt.data;
            status_field.innerHTML += received_msg + "<br>";
        }
    })();
</script>
{% endblock %}